<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About me</title>
    <style>
    a:hover {
        color: #0ae11f;
        text-decoration: underline;
    }
    body {
        background: url("https://i.pinimg.com/originals/3c/04/f1/3c04f1e6ee7c34d399dc408be524d58a.png") no-repeat center center;
    }
    a {
        text-decoration: none;
    }
  </style>
</head>
<body>
<h1 style="color: red">Привет эту страницу написал </h1>
<h2 style="color: #f80418">Тимур Валиев</h2>
<br>
<a href="{% url 'Generator:home'%}">Назад к домашней странице</a>

</body>
</html>